@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color:rgb(246, 246, 235);
  --foreground-rgb: 0, 0, 0;

}

@media (prefers-color-scheme: dark) {
  :root {
    background-color:rgb(19, 19, 19);
    --foreground-rgb: 255, 255, 255;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* QuillEditor.module.css */
.quill-container .ql-editor {
  min-height: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  background: #fff;
  color:black
}
